{% extends 'partials/base.html'%}
{% load static %}


{%block content%} <br><br><br><br><br>
    <style>
        span {
            background-color: black;
        }
    </style>

<div style="text-align: center">
    <form action="./"> 

        <input type="text" name="search airline_companies" placeholder="Search Airline Companies">
        <button type="submit"> Search </button> 
    </form>
    
    <div style="font-size: 30px; color:red">
    {%if airline_companies%}
        {%for airline in airline_companies%}
        <br>
        <a href="{{airline.get_absolute_url}}"><span>{{airline}}</span></a><br> <br>
        <br>
        {%endfor%}
        {%endif%} <br><br><br><br><br>
        <a href="{%url 'staff_homepage'%}">back to staff homepage</a>    
        
    </div>
</div>
{%endblock content%}


