{% extends 'partials/base.html' %} 


    {%block content%} <hr>
    
    <h1>Profile:</h1>
    
    <div style="font-size: 20px">
        Username: {{user.username}} <br>
        Password: <a href="">Change password</a>  <br>
        Email: {{customers.email}} <br> 
        First name: {{customers.first_name}} <br>
        Last name: {{customers.last_name}} <br>
        Address: {{customer.address}} <br>
        Phone Number: {{customer.phone_number}} <br>
        Credit Card No: {{customer.credit_card_no}} <br><br>
    </div>
    <a href="{%url 'update_user'%}"> Update User </a> <br>
    



    {%endblock content%}