{% extends 'partials/base.html' %} 
{%block content%} 
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/search2_style.css' %}">
    <title>Flight</title>
  </head>

  <body>

        <!-- end:header-top -->

        <div class="body" class="fh5co-hero">
          {% comment %} <div class="fh5co-overlay"></div> {% endcomment %}
          <div
            class="fh5co-cover"
            data-stellar-background-ratio="0.5"
          >
            <div class="desc">
              <div class="container">
                <div class="row">
                  <div >
                    <!-- <a href="index.html" id="main-logo">Travel</a> -->
                    <div class="tabulation animate-box">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                          <a
                            href="#flights"
                            aria-controls="flights"
                            role="tab"
                            data-toggle="tab"
                            >Flights</a
                          >
                        </li>
                      </ul>
                      <header id="fh5co-header-section" class="sticky-banner">
                        <div class="container">
                          <div class="nav-header">
                            <h1 id="fh5co-logo"><a href="index.html"><i class="icon-airplane"></i>Travel</a></h1>
                            <!-- START #fh5co-menu-wrap -->
 
                          </div>
                        </div>
                      </header>
                      <form method="GET" action=".">
                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div
                            role="tabpanel"
                            class="tab-pane active"
                            id="flights"
                          >
                            <div class="row">
                              <div class="col-xxs-12 col-xs-6 mt">
                                <div class="input-field">
                                  <label for="from">From:</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="origin_country_id"
                                    id="from-place"
                                    placeholder="from..."
                                  />
                                </div>
                              </div>
                              <div class="col-xxs-12 col-xs-6 mt">
                                <div class="input-field">
                                  <label for="from">To:</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="destination_country_id"
                                    id="from-place"
                                    placeholder="to..."
                                  />
                                </div>
                              </div>
                              <div class="col-xxs-12 col-xs-6 mt alternate">
                                <div class="input-field">
                                  <label for="date-start">Check In:</label>
                                  <input
                                    type="date"
                                    class="form-control"
                                    name="departure_time"
                                    id="date-start"
                                    placeholder="mm/dd/yyyy"
                                  />
                                </div>
                              </div>
                              <div class="col-xxs-12 col-xs-6 mt alternate">
                                <div class="input-field">
                                  <label for="date-end">Check Out:</label>
                                  <input
                                    type="date"
                                    class="form-control"
                                    name="landing_time"
                                    id="date-end"
                                    placeholder="mm/dd/yyyy"
                                  />
                                </div>
                              </div>
                              <div class="col-xs-12">
                                <button
                                  type="submit"
                                  class="btn btn-primary btn-block"
                                  name="Search Flight"
                                >Search Flights</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {%for flight in queryset.all %} <br />
      <a class="btn btn-primary"
        >{{flight}}<a /> <br /><br />
        <a
          href="{% url 'create_ticket' request.user.id flight.id %}"
          class="btn btn-primary"
          onclick="return confirm('Are you sure you want order flight ?')"
        >
          Order Flight</a
        >
        <br />
        <br />

        {% endfor %}

        <footer>
          <div id="footer">
            <div class="container">
              <div class="row row-bottom-padded-md">
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                  <h3>About Travel</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis iure ipsum eveniet explicabo perferendis?
                    Consequuntur nostrum mollitia asperiores. Reiciendis ipsam
                    minus reprehenderit ut commodi. Alias vitae earum quod
                    consectetur doloribus.
                  </p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                  <h3>Top Flights Routes</h3>
                  <ul>
                    <li>
                      <a href="https://en.wikipedia.org/wiki/Manila"
                        >Manila flights</a
                      >
                    </li>
                    <li><a href="#">Dubai flights</a></li>
                    <li><a href="#">Bangkok flights</a></li>
                    <li><a href="#">Tokyo Flight</a></li>
                    <li><a href="#">New York Flights</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                  <h3>Top Hotels</h3>
                  <ul>
                    <li><a href="#">Boracay Hotel</a></li>
                    <li><a href="#">Dubai Hotel</a></li>
                    <li><a href="#">Singapore Hotel</a></li>
                    <li><a href="#">Manila Hotel</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                  <h3>Interest</h3>
                  <ul>
                    <li><a href="#">Beaches</a></li>
                    <li><a href="#">Family Travel</a></li>
                    <li><a href="#">Budget Travel</a></li>
                    <li><a href="#">Food &amp; Drink</a></li>
                    <li><a href="#">Honeymoon and Romance</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                  <h3>Best Places</h3>
                  <ul>
                    <li><a href="#">Boracay Beach</a></li>
                    <li><a href="#">Dubai</a></li>
                    <li><a href="#">Singapore</a></li>
                    <li><a href="#">Hongkong</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                  <h3>Affordable</h3>
                  <ul>
                    <li><a href="#">Food &amp; Drink</a></li>
                    <li><a href="#">Fare Flights</a></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <p class="fh5co-social-icons">
                    <a href="https://twitter.com/"
                      ><i class="icon-twitter2"></i
                    ></a>
                    <a href="https://www.facebook.com/"
                      ><i class="icon-facebook2"></i
                    ></a>
                    <a href="https://www.instagram.com/"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a href="https://dribbble.com/"
                      ><i class="icon-dribbble2"></i
                    ></a>
                    <a href="https://www.youtube.com/"
                      ><i class="icon-youtube"></i
                    ></a>
                  </p>
                  <p>
                    All Rights Reserved. <br />
                    <i class="icon-heart3"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>



        <div class="bg-light">
          <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
              <div class="col-lg-6">
                <h1 class="display-4">About us page</h1>
                <p class="lead text-muted mb-0">
                  Create a minimal about us page using Bootstrap 4.
                </p>
                <p class="lead text-muted">
                  Snippet by
                  <a href="https://bootstrapious.com/snippets" class="text-muted">
                    <u>Bootstrapious</u></a
                  >
                </p>
              </div>
              <div class="col-lg-6 d-none d-lg-block">
                <img
                  src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
    
        <div class="bg-white py-5">
          <div class="container py-5">
            <div class="row align-items-center mb-5">
              <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
                <p class="font-italic text-muted mb-4">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm"
                  >Learn More</a
                >
              </div>
              <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                <img
                  src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg"
                  alt=""
                  class="img-fluid mb-4 mb-lg-0"
                />
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-5 px-5 mx-auto">
                <img
                  src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg"
                  alt=""
                  class="img-fluid mb-4 mb-lg-0"
                />
              </div>
              <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
                <p class="font-italic text-muted mb-4">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
        </div>
    
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        {%endblock content%}
    </div>
  </body>
</html>
