{% extends 'partials/base.html' %} 


    {%block content%} <hr>
    Flight Id: {{f_detail.id}} <br>
    Name Airline Company: {{f_detail.airline_company}} <br>
    Flight From: {{f_detail.origin_country}} <br>
    To: {{f_detail.destination_country}} <br> 
    Departure time: {{f_detail.departure_time}} <br>
    Landing time: {{f_detail.landing_time}} <br> <br>
    {% comment %} Number Ticket: {{f_detail.number_t}} <br> {% endcomment %}
    <a href="{% url 'flights' %}">go back to Flights</a> <br>

    <hr>


    {%endblock content%}


