{% extends 'partials/base.html' %} 
{% load static %}
{%block content%}

            
    <section class="section section1">
        <div class="query-data-div">
            <div class="container">
                <div class="trip-places">
                    <div class="from-div text-align-left">
                        <div class="small-label">From</div>
                        {% if org %}
                        <div class="white">{{org}}</div>
                        {% else %}
                        <div class="white">(every where)</div>
                        {% endif %}
                    </div>

                    <div class="to-div text-align-right">
                        <div class="small-label">To</div>
                        {% if dest %}
                        <div class="white">{{dest}}</div>
                        {% else %}
                        <div class="white">(every where)</div>
                        {% endif %}
                    </div>
                </div> 
                <div class="trip-time">
                    <div class="depart-date-div">
                        <div class="small-label">Depart</div>
                        {% if dtime %}
                        <div class="white">({{dtime}})</div>
                        {% else %}
                        <div class="white">(every time)</div>
                        {% endif %}
                    </div> 
                    <div class="return-date-div">
                        <div class="small-label">Return</div>
                        {% if ltime %}
                        <div class="white">({{ltime}})</div>
                        {% else %}
                        <div class="white">(every time)</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="query-result-div">
            <div class="container">
                <div class="row">
                    {% if queryset %}
                            <div class="sort-div">
                                <div class="flight-company">
                                    <div class="sort-label">Sort By:</div>
                                </div>
                                <div class="flight-time">
                                    <div class="flight-origin-time sort-depart">
                                        Depart
                                        <span></span>
                                    </div>
                                    <div class="flight-stops"></div>
                                    <div class="flight-destination-time sort-arrive">
                                        Arrive
                                        <span></span>
                                    </div>
                                </div>
                                <div class="flight-details">
                                    Price
                                    <span></span>
                                </div>
                            </div>
                            <div id="flights_div">
                                {% for flight in queryset.all %}
                                    <div class="each-flight-div-box show">
                                        <div class="each-flight-div" onclick="media_click(this)">
                                            <div class="flight-company">
                                                <div class="flight-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.5em" height="1.3em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 440 384"><path d="M14 335h405v43H14v-43zm417.5-199.5q3.5 12.5-3 24T409 175l-114 30l-92 25l-114 30l-34 10l-16-29l-39-67l31-9l42 33l106-28L91 17l41-11l147 137l113-30q13-4 24.5 3t15 19.5z" fill="#434445"/><rect x="0" y="0" width="440" height="384" fill="rgba(0, 0, 0, 0)" /></svg>
                                                </div>
                                                <div class="company-details">
                                                    <div class="company-name">{{flight.airline_company}}</div>
                                                    <div class="plane-name">{{flight.id}}</div>
                                                </div>
                                            </div>
                                            <div class="flight-time flight-time-div">
                                                <div class="flight-origin-time">
                                                    <div class="flight-time">
                                                        <h5>{{flight.departure_time|date}}</h5>  
                                                    </div>
                                                    <div class="flight-time">
                                                        <h5>{{flight.departure_time|time:"H:i"}}</h5>  
                                                    </div>
                                                    <div class="flight-place">
                                                        ({{flight.origin_country}})
                                                    </div>
                                                </div>
                                                <div class="flight-stops tooltip">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="24" viewBox="0 0 24 24">
                                                        <path d="M13,9.03544443 C14.6961471,9.27805926 16,10.736764 16,12.5 C16,14.263236 14.6961471,15.7219407 13,15.9645556 L13,21.5207973 C13,21.7969397 12.7761424,22.0207973 12.5,22.0207973 C12.2238576,22.0207973 12,21.7969397 12,21.5207973 L12,15.9645556 C10.3038529,15.7219407 9,14.263236 9,12.5 C9,10.736764 10.3038529,9.27805926 12,9.03544443 L12,3.5 C12,3.22385763 12.2238576,3 12.5,3 C12.7761424,3 13,3.22385763 13,3.5 L13,9.03544443 L13,9.03544443 Z M12.5,15 C13.8807119,15 15,13.8807119 15,12.5 C15,11.1192881 13.8807119,10 12.5,10 C11.1192881,10 10,11.1192881 10,12.5 C10,13.8807119 11.1192881,15 12.5,15 Z" transform="rotate(90 12.5 12.51)"/>
                                                    </svg>
                                                </div>
                                                <div class="flight-destination-time">
                                                    <div class="flight-time">
                                                        <h5>{{flight.landing_time|date}}</h5>  
                                                    </div>
                                                    <div class="flight-time">
                                                        <h5>{{flight.landing_time|time:"H:i"}}</h5>
                                                    </div>
                                                    <div class="flight-place">
                                                        ({{flight.destination_country}})
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flight-details">
                                                <div class="flight-price">
                                                    <h5>
                                                        ₪ 
                                                    </h5>
                                                </div>
                                            <div>
                                                <form action="" method="GET" >
                                                    <button type="submit">            
                                                        <a href= "{% url 'create_ticket' request.user.id flight.id %}"  onclick="return confirm('Are you sure you want order flight ?')" > Order Flight</a>
                                                    </button>
                                                </form>                                        
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div style="height: 100%; width:100%; padding: 10%;">
                            <div style="text-align: center; margin: auto;">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                <br><br>
                                <h3> Sorry, No Flight for this Search</h3>
                                <p>
                                    We cannnot find any flights for the cabin class of your search. Please modify your search criteria and try again.
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

     
   

{%endblock content%}